# yaml-language-server: $schema=https://raw.githubusercontent.com/equinor/radix-operator/release/json-schema/radixapplication.json

apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: jacob-dev
  annotations:
#    radix.equinor.com/preview-oauth2-proxy-mode: "dev"
spec:
  build:
    useBuildKit: true
  # dnsAppAlias:
  #   component: auth-proxy
  #   environment: dev
  environments:
    - name: dev
      build:
        from: master
    - name: prod
  components:
    - name: frontend
      variables:
        USE_SWAGGER: "true"
      src: "."
      publicPort: http
      ports:
       - name: http
         port: 1234
      environmentConfig:
        - environment: dev
          #runAsUser: 2330
          horizontalScaling:
            maxReplicas: 1
            minReplicas: 0
            triggers:
              - name: cron
                cron:
                  timezone: Europe/Oslo
                  start: 0 7 * * 1-5 # 07:00 Monday - Friday.
                  end: 0 17 * * 1-5 # 17:00 Monday - Friday
                  desiredReplicas: 1
          resources:
            requests:
              cpu: "10m"
              memory: "5M"
            limits:
              cpu: "20m"
              memory: "10Mi"
      runAsUser: 1337
      authentication:
        oauth2:
          clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
          scope: openid profile email offline_access
          setXAuthRequestHeaders: true
          setAuthorizationHeader: true
          credentials: azureWorkloadIdentity
          sessionStoreType: systemManaged # Defaults to cookie, can be systemManaged, redis or cookie
          cookieStore:
            minimal: false
          cookie:
            name: _oauth2_proxy
            expire: 168h0m0s
            refresh: 60m0s
            sameSite: lax
    # - name: test-deploy-component
    #   image: ubuntu:latest
    #   runAsUser: 1337
    # - name: auth-state
    #   dockerfileName: auth-state.Dockerfile
    #   variables:
    #     ALLOW_EMPTY_PASSWORD: "yes"
    #   ports:
    #     - name: redis
    #       port: 6379
    #   environmentConfig:
    #     - environment: dev
    # - name: auth-proxy
    #   image: quay.io/oauth2-proxy/oauth2-proxy:v7.12.0
    #   publicPort: http
    #   secrets:
    #     - OAUTH2_PROXY_CLIENT_SECRET # client secret for the UI. Application exist under Azure Active Directory -> App registration
    #     - OAUTH2_PROXY_COOKIE_SECRET # a secret key used to encrypt the auth tokens sent to browser in cookie
    #   ports:
    #     - name: http
    #       port: 8000
    #   variables:
    #     OAUTH2_PROXY_PROVIDER: "oidc" # https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc
    #     OAUTH2_PROXY_OIDC_ISSUER_URL: "https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/v2.0" # the UID points to Equinors AzureAd tenant
    #     OAUTH2_PROXY_SCOPE: "openid email offline_access" # Simplified scope - If api is not public, and you only want to authenticate the client
    #     OAUTH2_PROXY_UPSTREAMS: "http://frontend:1234" # where authenticated requests are routed to
    #     OAUTH2_PROXY_HTTP_ADDRESS: "http://:8000"
    #     OAUTH2_PROXY_SESSION_STORE_TYPE: "redis" # We're using Redis for storing session info instead of cookies (cookies get too big for Edge and Safari)
    #     OAUTH2_PROXY_REDIS_CONNECTION_URL: "redis://auth-state:6379" # Where to store session info (the auth-state component)
    #     OAUTH2_PROXY_COOKIE_REFRESH: "60m" # how often should the token be refreshed. Default for azure ad is currently 60m
    #     OAUTH2_PROXY_EMAIL_DOMAINS: "*"
    #     OAUTH2_PROXY_PASS_ACCESS_TOKEN: "true" # should the access token be passed upstream (to the server hosting frontend component). Needed so that the API can authorize request. In simplified scope, this can be removed
    #     OAUTH2_PROXY_PASS_USER_HEADERS: "false"
    #     OAUTH2_PROXY_SKIP_PROVIDER_BUTTON: "true"
    #     OAUTH2_PROXY_SET_XAUTHREQUEST: "true"
    #   environmentConfig:
    #     - environment: dev
    #     #- environment: prod
    #       variables:
    #         OAUTH2_PROXY_CLIENT_ID: "5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6" # client id for the UI. Application exist under Azure Active Directory -> App registration
    #         OAUTH2_PROXY_REDIRECT_URL: "/oauth2/callback"
    #         OAUTH2_PROXY_SCOPE: "openid email offline_access" # UID is resource client id for API. Application exist under Azure Active Directory -> App registration
  # jobs:
  #   - name: run-as-user
  #     #image: ubuntu:latest
  #     runAsUser: 1338
  #     src: runAsUserJob
  #     schedulerPort: 8000
  #     ports:
  #       - name: http
  #         port: 3000
  #     # environmentConfig:
  #     #   - environment: dev
  #     #     runAsUser: 7331
  #     variables:
  #       USE_SWAGGER: "true"