# yaml-language-server: $schema=https://raw.githubusercontent.com/equinor/radix-operator/release/json-schema/radixapplication.json

apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: jacob-dev
spec:
  build:
    useBuildKit: true
  environments:
    - name: dev
      build:
        from: master
    - name: prod
  components:
    - name: frontend
      variables:
        USE_SWAGGER: "true"
      src: "."
      publicPort: http
      ports:
       - name: http
         port: 1234
      environmentConfig:
        - environment: dev
          #runAsUser: 2330
          horizontalScaling:
            maxReplicas: 1
            minReplicas: 0
            triggers:
              - name: cron
                cron:
                  timezone: Europe/Oslo
                  start: 0 7 * * 1-5 # 07:00 Monday - Friday
                  end: 0 17 * * 1-5 # 17:00 Monday - Friday
                  desiredReplicas: 1
          resources:
            requests:
              cpu: "10m"
              memory: "5M"
            limits:
              cpu: "20m"
              memory: "10Mi"
      runAsUser: 1337
          #variables:
          #  GOMAXPROCS: "1"
        #- environment: prod
        #  replicas: 2
        #  resources:
        #    requests:
        #      cpu: "200m"
        #      memory: "300M"
        #    limits:
        #      cpu: "500m"
        #      memory: "500M"
        #  variables:
        #    GOMAXPROCS: "2"
      # authentication:
      #   oauth2:
      #     clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
      #     setXAuthRequestHeaders: true
      #     setAuthorizationHeader: true
      #     sessionStoreType: systemManaged
      #     scope: openid email profile offline_access # https://graph.microsoft.com/User.Read
      #     credentials: azureWorkloadIdentity
      authentication:
        oauth2:
          clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
          #scope: openid profile email offline_access 2b06f36c-5a78-45a6-9809-44816f59c1ff/user.read
          #setXAuthRequestHeaders: true
          #setAuthorizationHeader: true
          #proxyPrefix: /oauth2
          # oidc:
          #   issuerUrl: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/v2.0
          #   jwksUrl: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/discovery/v2.0/keys
          #   skipDiscovery: false
          #   insecureSkipVerifyNonce: false
          # loginUrl: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/authorize
          # redeemUrl: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/token
          credentials: azureWorkloadIdentity
          sessionStoreType: systemManaged # Defaults to cookie, can be systemManaged, redis or cookie

          # Required for sessionStoreType `redis`:
          # redisStore:
          #   connectionUrl: rediss://app-session-store.redis.cache.windows.net:6380
          cookieStore:
            minimal: false
          cookie:
            name: _oauth2_proxy
            expire: 168h0m0s
            refresh: 60m0s
            sameSite: lax
  jobs:
    - name: run-as-user
      #image: ubuntu:latest
      runAsUser: 1338
      src: runAsUserJob
      schedulerPort: 8000
      ports:
        - name: http
          port: 3000
      # environmentConfig:
      #   - environment: dev
      #     runAsUser: 7331
      variables:
        USE_SWAGGER: "true"